<a href="https://colab.research.google.com/github/saurabhbarge/CE888-7-SP/blob/main/Lab_4/my_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [66]:
df = pd.read_csv("https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/jester-data-1.csv",header=None)

In [67]:
df.head()

   0      1      2      3      4    ...    96     97     98     99     100
0   74  -7.82   8.79  -9.66  -8.16  ...  99.00  -5.63  99.00  99.00  99.00
1  100   4.08  -0.29   6.36   4.37  ...  -2.14   3.06   0.34  -4.32   1.07
2   49  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
3   48  99.00   8.35  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
4   91   8.50   4.61  -4.17  -5.39  ...   1.55   3.11   6.55   1.80   1.60

[5 rows x 101 columns]

In [68]:
df = df.replace(99.00,np.NAN)

In [69]:
ratings = df.iloc[:, 1:]  # remove column 0 because it doesn't contain ratings
ratings.head()

    1     2     3     4     5     6    ...   95    96    97    98    99    100
0 -7.82  8.79 -9.66 -8.16 -7.52 -8.50  ...   NaN   NaN -5.63   NaN   NaN   NaN
1  4.08 -0.29  6.36  4.37 -2.38 -9.66  ... -0.19 -2.14  3.06  0.34 -4.32  1.07
2   NaN   NaN   NaN   NaN  9.03  9.27  ...   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN  8.35   NaN   NaN  1.80  8.16  ...   NaN   NaN   NaN   NaN   NaN   NaN
4  8.50  4.61 -4.17 -5.39  1.36  1.60  ...  5.73  1.55  3.11  6.55  1.80  1.60

[5 rows x 100 columns]

In [70]:
ratings.describe()

                1             2    ...           99           100
count  16452.000000  18184.000000  ...  10910.000000  9943.000000
mean       0.904573      0.208460  ...     -0.031244     1.354711
std        5.171798      5.597327  ...      5.176806     5.300409
min       -9.950000     -9.950000  ...     -9.950000    -9.950000
25%       -2.670000     -4.420000  ...     -4.170000    -2.330000
50%        1.600000      0.830000  ...      0.290000     2.140000
75%        4.900000      4.820000  ...      3.980000     5.730000
max        9.370000      9.370000  ...      9.370000     9.370000

[8 rows x 100 columns]

In [71]:
ratings.shape

(24983, 100)

In [72]:
# Worst Rated Joke
mean_ratings = ratings.mean()
lowest_rated = mean_ratings.idxmin()
round(ratings[lowest_rated].mean(),2)
#lowest_rated

-3.83

In [73]:
# Best rated joke
mean_ratings = ratings.mean()
highest_rated = mean_ratings.idxmax()
round(ratings[highest_rated].mean(),2)

3.67

In [97]:
mean_ratings.idxmax(axis=1)

50

In [74]:
ratings.iloc[804, 7]

0.29

In [75]:
items = pd.read_excel('/content/drive/MyDrive/movies_latent_factors.xlsx', sheet_name='Items')

In [76]:
user_prefs = pd.read_excel('/content/drive/MyDrive/movies_latent_factors.xlsx', sheet_name='Users')

In [77]:
items.head()

   Movie ID  ...  Factor15
0        11  ... -0.248806
1        12  ...  1.274993
2        13  ... -0.419092
3        14  ... -0.681191
4        22  ... -2.292566

[5 rows x 17 columns]

In [78]:
user_prefs.head()

   User   Factor1   Factor2   Factor3  ...  Factor12  Factor13  Factor14  Factor15
0  4768 -0.204024  0.161079 -0.090447  ...  0.355404  0.007108 -0.118663 -0.039125
1   156 -0.189652 -0.178979 -0.091490  ... -0.048606  0.045916  0.113671  0.179873
2  5323 -0.115308 -0.090886 -0.053129  ... -0.019460  0.108372  0.054471 -0.109552
3   174 -0.227462 -0.272532 -0.017231  ... -0.082396  0.036767 -0.165438  0.050692
4  4529 -0.014616 -0.102218 -0.107935  ... -0.132836 -0.039897  0.129063  0.102669

[5 rows x 16 columns]

In [79]:
items[items['Movie ID'] == 187]

    Movie ID            Title   Factor1  ...  Factor13  Factor14  Factor15
24       187  Sin City (2005)  0.025211  ...   0.75943 -0.287881  0.303643

[1 rows x 17 columns]

In [80]:
user_prefs[user_prefs['User'] == 3048]

    User   Factor1  Factor2   Factor3  ...  Factor12  Factor13  Factor14  Factor15
22  3048 -0.320315  0.07829 -0.083182  ...  0.028016   -0.0181 -0.128452  0.069972

[1 rows x 16 columns]

In [81]:
# user_prefs[user_prefs['User'] == 1882]
# items[items['Movie ID'] == 134]

In [82]:
print(items['Factor8'][items['Title'] == "True Lies (1994)"])
print(items['Factor8'][items['Title'] == "Eternal Sunshine of the Spotless Mind (2004)"])
print(items['Factor8'][items['Title'] == "The Fugitive (1993)"])
print(items['Factor8'][items['Title'] == "Batman Begins (2005)"])
print(items['Factor8'][items['Title'] == "Mission: Impossible (1996)"])

99   -0.075895
Name: Factor8, dtype: float64
6   -0.961435
Name: Factor8, dtype: float64
87   -0.185779
Name: Factor8, dtype: float64
30   -1.686344
Name: Factor8, dtype: float64
71    0.244522
Name: Factor8, dtype: float64

In [83]:
print(items['Factor13'][items['Movie ID'] == 604])
print(items['Factor13'][items['Movie ID'] == 2501])
print(items['Factor13'][items['Movie ID'] == 197])
print(items['Factor13'][items['Movie ID'] == 278])
print(items['Factor13'][items['Movie ID'] == 557])

51   -1.895101
Name: Factor13, dtype: float64
83   -1.625051
Name: Factor13, dtype: float64
26    1.123545
Name: Factor13, dtype: float64
33    0.194144
Name: Factor13, dtype: float64
42   -1.217301
Name: Factor13, dtype: float64

In [84]:
# data = pd.read_csv("https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/user_ratings.csv")

In [85]:
# user_ratings = data.values

In [86]:
latentusers = user_prefs.iloc[:,1:]
print(latentusers.shape)
latentitems = items.iloc[:,2:]
latentitems.shape
# latent_user = np.array()

(25, 15)

(100, 15)

In [87]:
# np.array(latentusers.values)
# latentitems.values

In [88]:
latent_user_preferences = np.array(latentusers.values)
print(latent_user_preferences.shape)
latent_item_features = np.array(latentitems.values)
print(latent_item_features.T.shape)

(25, 15)
(15, 100)

In [89]:
# print(user_prefs[user_prefs['User'] == 1882].index)

In [90]:
def predict_rating(user_id, item_id):
    """ Predict a rating given a user_id and an item_id.
    """
    user_preference = latent_user_preferences[user_prefs.index[user_prefs['User'] == user_id]]
    item_preference = latent_item_features[items.index[items['Movie ID'] == item_id]]
    return user_preference.dot(item_preference.T)

In [92]:
print(predict_rating(156,98))
print(predict_rating(3806,603))

[[0.65810649]]
[[0.89283905]]